* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  background: #f8fafc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header */
#headerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-radius: 15px;
  margin: 28px 0;
  box-shadow: 4px 4px 4px 3px #1e293b;
  background: #f1f5f9;
}

.headerBtn {
  height: 32px;
  width: 90px;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  background: #94a3b8;
  font-weight: 600;
}

.headerBtn:hover {
  cursor: pointer;
}

.headerBtn:active {
  box-shadow: inset 0 0 10px #000000
}

/* Show CV */
#personalForm,
#educationForm,
#experienceForm,
#personalDiv,
.educationDiv,
.experienceDiv {
  border-radius: 15px;
  padding: 15px;
  background: #f1f5f9;
  box-shadow: 4px 4px 4px 3px #1e293b;
}

#editInfo {
  display: flex;
  flex-direction: column;
  gap: 27px;
  width: 800px;
}

.inputSet {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

label {
  width: 150px;
  font-weight: bold;
}

input,
textarea {
  width: 260px;
}

.dataWrap {
  display: flex;
}

.pageLabel {
  justify-self: start;
  min-width: 160px;
}

.pageLabel,
.pageData {
  margin: 16px 0 0 0;
}

.pageData {
  font-weight: normal;
}

.categoryHeading {
  margin: 0;
}

.editBtn,
.deleteBtn {
  width: 100px;
  margin-top: 16px;
}

.editBtn {
  justify-self: flex-end;
  margin-right: 16px;
}

#showCv {
  width: 100vw;
  max-width: 980px;
  margin: 0 40px;
}

/* PersonalCv */
#personalCv {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0;
  border-bottom: solid black;
}

.name,
.professionText {
  margin: 0;
}

.contactList {
  list-style: none;
}

.contactData {
  display: flex;
  gap: 8px;
  margin-bottom: 6px;
}

#nameDiv,
.contactList {
  margin: 0 0 32px;
}

.personalIcon {
  height: 16px;
  margin: 0;
  align-self: center;
}

.contactText {
  margin: 0;
  align-self: center;
}

/* Experience / Education Cv */
.experienceCvDiv,
.educationCvDiv {
  padding-bottom: 32px;
  border-bottom: solid black;
}

.experienceCv,
.educationCv {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1.5fr 8.5fr;
  gap: 60px;
}

.experienceCv h3,
.experienceCv h4,
.experienceCv p,
.educationCv h3,
.educationCv h4 {
  margin: 0;
}

.workTasksCv,
.educationDescription {
  border-left: solid black;
  padding: 0 0 42px 40px;
}

.educationDateCv,
.companyDateCv {
  padding-bottom: 40px;
}